<ion-header>
  <ion-toolbar>
    <ion-title>Cours</ion-title>
  </ion-toolbar>
  <ion-toolbar class="rounded-lg">
   <ion-buttons slot="start">
     <ion-icon  class="text-4xl text-black" name='arrow-back-circle-outline'  routerLink="/accueil"></ion-icon>
    </ion-buttons>
    <ion-searchbar [(ngModel)]="search" class="rounded"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list *ngFor="let cour of cours|coursFilter:search:'libelle'">
    <ion-card class="flex">
      <ion-card-header>
        <ion-card-title class="font-serif" >
          <div>{{cour.module_user.module.libelle}}</div>
          <div>{{cour.module_user.user.sexe==='M'?"Mr":"Mme"}}  {{cour.module_user.user.nom}}</div>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="flex flex-col mt-9">
        <ion-label>
          <ion-icon class="text-2xl text-green-600" name='timer'></ion-icon>
         <span class="mb-9">  {{cour.nb_heure_global.toString().split(':',1)}}h</span>
        </ion-label>
       <ion-label><ion-icon class="text-2xl text-red-600 mt-3" name='timer-outline'></ion-icon> {{cour?.ecouler?.toString()?.split(':',1)}}h</ion-label>
      </ion-card-content>
      <ion-label type="button" class=" rounded-md   mt-2 {{cour.etat===0 ?'text-green-600':'text-red-600'}}  px-1  ">{{cour.etat===0?'En cours':'Terminer'}}</ion-label>
    </ion-card>
  </ion-list>
  <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top shadow-sm flex mt-3 bg-slate-500 text-white justify-center  align-center text-center">
          <div class="flex flex-col align-center mt-3 font-bold justify-center text-center">
            <ion-label>Professeur: </ion-label>
            <ion-label>Module:</ion-label>
            <ion-label>Filière:</ion-label>
            <ion-label>Heure global: </ion-label>
            <ion-label>Heure effectuer:</ion-label>
            <ion-label>Classe:</ion-label>
            <ion-label>Semestre: </ion-label>
          </div>
          <div class="flex flex-col mt-3">
              <ion-label class="">{{selectedCour?.module_user?.user?.prenom+" "+selectedCour?.module_user?.user?.nom}}</ion-label>
              <ion-label> {{selectedCour?.module_user?.module?.libelle}}</ion-label>
              <ion-label>{{selectedCour?.annee_scolaire_classe?.classe?.filiere?.libelle }}</ion-label>
              <ion-label> {{selectedCour?.nb_heure_global?.toString()?.split(':',1)}} h</ion-label>
              <ion-label> {{selectedCour?.ecouler?.toString()?.split(':',1)}}h</ion-label>
              <ion-label>{{selectedCour?.annee_scolaire_classe?.classe?.libelle}}</ion-label>
              <ion-label>{{selectedCour?.annee_scolaire_semestre?.semestre?.libelle}}</ion-label>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
