<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon  class="text-4xl text-black" name='arrow-back-circle-outline'  routerLink="/accueil"></ion-icon>
    </ion-buttons>
    <ion-title>absence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <table class="mt-2 ml-1 w-full text-sm text-left text-gray-500 dark:text-gray-400 ">
      <thead  class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr >
          <th >cours</th>
          <th>Mr</th>
          <th>date</th>
          <th>Debut</th>
          <th>fin</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let session of sessions" class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
          <td scope="col-2">{{session?.session?.cours?.module_user?.module?.libelle}}</td>
          <td scope="col-2">{{session?.session?.cours?.module_user?.user?.nom}}</td>
          <td scope="col-2">{{session?.session?.date}}</td>
          <td scope="col-2">{{session.session.heure_debut.slice(0,5)}}</td>
          <td scope="col-2">{{session.session.heure_fin.slice(0,5)}}</td>
          <td><button  (click)="openModal()" class="text-white rounded-md bg-blue-600 py-1 px-1">justify</button></td>
        </tr>
      </tbody>
    </table>
    <ion-modal *ngIf="open"
    trigger="open-modal"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top shadow-sm flex mt-3 bg-slate-500 text-white justify-center  align-center text-center">
          <div class="flex flex-col align-center mt-3 font-bold justify-center text-center">
            <ion-label>Professeur: </ion-label>
            <ion-label>Module:</ion-label>
            <ion-label>Filière:</ion-label>
            <ion-label>Heure global: </ion-label>
            <ion-label>Heure effectuer:</ion-label>
            <ion-label>Classe:</ion-label>
            <ion-label>Semestre: </ion-label>
          </div>
          <div class="flex flex-col mt-3">
              <!-- <ion-label class="">{{selectedCour?.module_user?.user?.prenom+" "+selectedCour?.module_user?.user?.nom}}</ion-label>
              <ion-label> {{selectedCour?.module_user?.module?.libelle}}</ion-label>
              <ion-label>{{selectedCour?.annee_scolaire_classe?.classe?.filiere?.libelle }}</ion-label>
              <ion-label> {{selectedCour?.nb_heure_global?.toString()?.split(':',1)}} h</ion-label>
              <ion-label> {{selectedCour?.ecouler?.toString()?.split(':',1)}}h</ion-label>
              <ion-label>{{selectedCour?.annee_scolaire_classe?.classe?.libelle}}</ion-label>
              <ion-label>{{selectedCour?.annee_scolaire_semestre?.semestre?.libelle}}</ion-label> -->
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
